@import "tailwindcss";

* {
    font-family: "Outfit", sans-serif;
}

body {
    background-color: lightgrey;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes marquee {
    from { transform: translateX(0); }
    to { transform: translateX(-50%); }
}

.animate-marquee {
    animation: marquee 600s linear infinite;
}

.animate-fade-in {
  animation: fade-in 0.3s ease-out;
}